<div class="container">
  <div class="text-center">
    <h2>
      caroline &amp; spencer's
    </h2>
    <h1>
      5th annual potato party!
    </h1>
    <h3>
      saturday 9.15.18
    </h3>
    <h3>
      <%= link_to "6pm @ our house", directions_path %>
    </h3>
    <div>
      <%= link_to "claim a potato", new_guest_path %>
    </div>
  </div>
</div>
