<div class="page">
  
  <img class="background-image" src="http://www.spencerjobe.com/potato/home_background.jpg">
  
  <div class="banner">

    <div class="sub-banner retro-font sb-row-0">
      Caroline &amp; Spencer's
    </div>

    <div class="sub-banner retro-font sb-row-1">
      3rd annual
    </div>
    <div class="sub-banner retro-font sb-row-2">
      potato<br>
      party
    </div>
    <div class="sub-banner retro-font sb-row-3">
      saturday 9.10.16
    </div>
    <div class="sub-banner retro-font sb-row-4">
      <%= link_to "6pm @ our house", directions_path, class: "bold-link" %>
    </div>
  </div>

  <div class="skillet">
    <div class="sub-banner retro-font skl-row-1">
      <%= link_to "claim a potato", new_guest_path, class: "block-link" %>
    </div>
  </div>
</div>
