<ul class="list-group">
  <div>chopped tomatoes</div>
  <div>chopped pickles</div>
  <div> grilled red onion</div>
  <div>sour cream</div>
  <div>jalapeno peppers</div>
  <div>black beans</div>
  <div>scrambled eggs</div>
  <div>manzanilla olives</div>
  <div>roast roma tomatoes</div>
  <div>golden raisins</div>
  <div>queso fresco</div>
  <div>grilled sweet corn</div>
  <div>roast poblano peppers</div>
  <div>brussel sprouts</div>
  <div>roast garlic chips</div>
  <div>jumbo lump crab</div>
  <div>carolina pulled pork</div>
  <div>saute beef filet tips</div>
  <div>roast shallots</div>
  <div>grape tomatoes</div>
  <div>gorgonzola caramelized onions</div>
  <div>banana pepper rings</div>
  <div>roast pork belly</div>
  <div>smoked mozzarella</div>
  <div>backfin crab</div>
  <div>boursin cheese</div>
  <div>oven-roasted roma tomatoes</div>
  <div>sauteed ground beef</div>
  <div>basil pesto</div>
  <div>buffalo chicken</div>
  <div>maple dry rub chicken</div>
  <div>grilled chicken</div>
  <div>mozzarella di bufala</div>
  <div>smoked mozzarella</div>
  <div>vermont cheddar</div>
  <div>feta cheese</div>
  <div>goat cheese</div>
  <div>gruyere</div>
  <div>mushrooms</div>
  <div>artichoke hearts</div>
  <div>halloumi</div>
  <div>demi-glace</div>
  <div>boursin cheese</div>
  <div>colby jack</div>
  <div>crumbled blue cheese</div>
  <div>avocado</div>
  <div>applewood smoked bacon</div>
  <div>roasted peppers</div>
  <div>pepperoni</div>
  <div>scallions</div>
  <div>chipotle aiodiv</div>
  <div>lantana onions</div>
  <div>tomato basil sauce</div>
  <div>parmesan</div>
  <div>mozzarella</div>
  <div>grilled scallops</div>
  <div>ground turkey</div>
  <div>grilled flank steak</div>
  <div>sauteed baby spinach</div>
  <div>grilled asparagus</div>
</ul>