<div class="container">
  <br>
  <ul class="list-group">
    <li class="list-group-item"><b>Who</b>: Bring your friends, family, kids, significant others, first dates, neighbors… just give us a heads up with the <%= link_to 'potato count', new_guest_path, style:"text-decoration:underline;" %>.</li class="list-group-item">

    <li class="list-group-item"><b>When</b>: Saturday, September 9, 2017, 6pm</li class="list-group-item">
    
    <li class="list-group-item"><b>Where</b>: 
    <a href="https://goo.gl/maps/ZpbWbUQSM862" style="text-decoration:underline" target="_blank">Our place, 116 Albertson Street, Rochester, MI 48307</a></li class="list-group-item">

    <li class="list-group-item"><b>Why</b>: Potatoes are delicious and parties are fun.</li class="list-group-item">

    <li class="list-group-item"><b>How</b>: We’ll bake the potatoes, you bring the toppings.</li class="list-group-item">

    <li class="list-group-item">We’ll have:
      <ul>
        <li><a><%= link_to 'potatoes. lots.', new_guest_path %></a></li>
        <li>drinks - beer, wine, liquor, juice boxes, water, soda.</li>
        <li>as much outdoor seating as we can fit. some indoor too.</li>
        <li>good music.</li>
        <li>prizes!</li>
      </ul>

    <li class="list-group-item">If you want, you can bring:
      <ul>
        <li><%= link_to "a topping!", contributions_path, style:"text-decoration:underline;" %></li>
        <li>camping chairs - extra seating always helps.</li>
        <li>drinks - we’ll have lots (see above), but extra drinks to share are always appreciated.</li>
      </ul>
  </ul>
</div>
