<div class="container">
  <div class="jumbotron">
    <h1>The History of the Potato Party</h1>
    <p>
      Back in Baltimore at the now-closed <%= link_to 'Birches', 'http://www.birchesrestaurant.com/', target: '_blank', class:"contribs-link-blue" %>, there was a Wednesday night Baked Potato Club. A card was kept on file to monitor your progess as you worked your way through the toppings, and when you had eaten them all, you were given a very ugly tee shirt.
    </p>
    <p>
      Caroline was a member of this club, though she regretfully didn't keep her tee shirt. She had no way of knowing that this club would begin a tradition 500 miles away and many years later.
    </p>
    <p>
      Fast-forward and Caroline and Spencer have met (technically, met <em>again</em>), married, and moved to Michigan. They didn't know many people, but they wanted to invite everyone they knew to a party-- and who doesn't love potatoes? They threw a party in the backyard and supplied the potatoes; guests brought the toppings.
    <p>
      Over the years, friends have brought homemade buttermilk ranch dressing, fresh-from-the-garden-salsa, and even all of the Thanksgiving fixings.
    </p>
    <p>
      The first potato party was planned with a week's notice and was a huge success-- and now it's tradition.
    </p>
  </div>
</div>

<div class="container">
  <h3>Birches' Baked Potato Club Toppings</h3>
  <div class="col-lg-4">
    <%= render partial: 'shared/toppings_list' %>
  </div>
</div>
