<p>
Who: Bring your friends, family, kids, significant others, first dates, neighbors… just give us a heads up with <%= link_to 'the potato count', contributions_path %>

When: Saturday, September 10, 2016, 6pm

Why: Potatoes are delicious and parties are fun.

How: We’ll bake the potatoes, you bring the toppings.

We’ll have:
  potatoes. lots. 
  drinks - beer, wine, liquor, juice boxes, water, soda
  as much outdoor seating as we can fit. some indoor too.
  good music.

If you want, you can bring:
  a topping!
  camping chairs - extra seating always helps
  drinks - we’ll have lots (see above), but extra drinks to share are always appreciated
</p>
