<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link rel="stylesheet" type="text/css" href="info.css">
	<title>Food</title>
</head>
<body>
	<div class="retro-font info-title">
		Food
	</div>
	<div class="retro-font  info-page">
		<div> Here is some Food info! </div>
		<div> Here is some Food info! </div>
		<div> Here is some Food info! </div>
		<div> Here is some Food info! </div>
		<div> Here is some Food info! </div>
		<div> Here is some Food info! </div>
		<div> Here is some Food info! </div>
		<div> Here is some Food info! </div>
		<div> Here is some Food info! </div>
		
	</div>

</body>
</html>