<div class="retro-font contribs-page">
  <div class="contribs-page-background">
    <%= render 'form', contribution: @contribution %>
  <div class="contribs-food-list-title">Who's bringing what?</div>
  <div class="contribs-food-list">
    <% unless @contributions.empty? %>
      <% @contributions.each do |contribution| %>
        <span class="contribs-food-list-row">
          <%= content_tag(:div, contribution.food, :class => "contribs-food-list-div") %> -- 
          <%= content_tag(:div, contribution.person, :class => "contribs-food-list-div") %>
          <%= display_delete_button(contribution) %>
        </span>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
