<div class="container">
  <h3>
    Here's what we're having:
  </h3>
<% if @contributions.present? %>
  <table class="table table-bordered">
    <% @contributions.each do |contribution| %>
        <tr>
          <td>
            <%= contribution.food %>
          </td>
          <td>
            <%= contribution.guest.name %>
          </td>
          <td><%= link_to('Delete', contribution_path(contribution), method: :delete) if signed_in? %></td>
        </tr>
    <% end %>
  </table>
<% end %>
</div>
